<template>
  <div class="page--margin">
    <h1>About Us</h1>

    <div class="flexbox">
      <nav class="navbar navbar-toggler navbar-light">
        <ul class="navbar-nav nav-box">
          <router-link :to="{name: 'historyLink'}" tag="li" class>
            <a class="nav-link">Our History</a>
          </router-link>
          <router-link :to="{name: 'contactLink'}" tag="li" class>
            <a class="nav-link">Contact Us</a>
          </router-link>
          <router-link :to="{name: 'orderingGuideLink'}" tag="li" class>
            <a class="nav-link">Ordering Guide</a>
          </router-link>
          <router-link :to="{name: 'deliveryLink'}" tag="li" class>
            <a class="nav-link">Delivery</a>
          </router-link>
        </ul>
      </nav>

      <router-view></router-view>
    </div>
  </div>
</template>

<style lang="scss">

.flexbox {
  display: flex;
}

.nav-box{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}
</style>