<template>
     <section>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <pp-new-pizza></pp-new-pizza>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>Menu:</h3>
          <table class="table table-sm">
            <thead class="thead-default">
              <tr>
                <th>Item</th>
                <th>Remove from Menu</th>
              </tr>
            </thead>

            <tbody v-for="item in getMenuItems">
              <tr>
                <td>{{item.name}}</td>
                <td>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    @click="removeMenuItem(item['.key'])"
                  >X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3>Current Orders: {{ numberOfOrders}}</h3>
          <table class="table table-sm" v-for="(orders, index) in getOrders">
            <thead class="thead-default">
              <tr>
                <th>Item</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <div class="order-number">
                <strong>
                  <em>Order No.: {{index+1}}</em>
                </strong>
                <button
                  class="btn btn-outline-danger btn-sm"
                  @click="removeOrderItem(orders['.key'])"
                >X</button>
              </div>

              <tr v-for="orderItems in orders">
                <td>{{orderItems.name}}</td>
                <td>{{orderItems.size}}"</td>
                <td>{{orderItems.quantity}}</td>
                <td>{{orderItems.price|currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
</template>

<script>
import NewPizza from "./NewPizza.vue";
// import Login from "./Login.vue";
import { mapGetters } from "vuex";
import { dbMenuRef, dbOrdersRef } from "../firebaseConfig";

export default {
  components: {
    ppNewPizza: NewPizza
  },
  computed: {
    ...mapGetters([
      "numberOfOrders",
      "getMenuItems",
      "getOrders"
    ])
  },
  methods: {
    removeMenuItem(key) {
      dbMenuRef.child(key).remove();
    },
    removeOrderItem(key) {
      dbOrdersRef.child(key).remove();
    }
  },
  beforeRouteLeave: (to, from, next) => {
    if (confirm("Have you remembered to logout?") == true) {
      next();
    } else {
      next(false);
    }
  }
  // data() {
  //   return {
  //     name: 'Isaak'
  //   }
  // },
  // beforeRouteEnter: (to, from, next) => {
  //   alert ('Hi, '+this.name)
  //   next(vm => {
  //     alert('Hi, '+vm.name)
  //   })
  // }
};
</script>