<template>
  <div>
    <pp-admin-hidden v-if="currentUser"></pp-admin-hidden>
    <hr/>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <pp-login></pp-login>
      </div>
    </div>
  </div>
</template>

<script>
// import NewPizza from "./NewPizza.vue";
import Login from "./Login.vue";
import { mapGetters } from "vuex";
// import { dbMenuRef, dbOrdersRef } from "../firebaseConfig";
const AdminHidden = () => import('./AdminHidden.vue')

export default {
  components: {
    // ppNewPizza: NewPizza,
    ppLogin: Login,
    ppAdminHidden: AdminHidden
  },
  computed: {
    ...mapGetters([
      "currentUser"
    ])
  },

};
</script>

<style>
.order-number {
  margin: 10px 0;
}
</style>