<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text">
          <address>
            <strong>Pizza Planet</strong><br>
            36 Bornham St. <br>
            Blackbury 60210 <br>
            Phone: (44) 0123 456 7890
          </address>
          <address>
              <strong>Email:</strong><br>
              <p>contact@example.com</p>
          </address>
      </p>
    </div>
  </div>
</template>