<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Delivery Info</h5>
      <p class="card-text">
         
         <p>
           Some quick example text to build on the card title and make up the bulk of the card's content.  
         </p>

      </p>
    </div>
  </div>
</template>