<template>
  <footer class="footer row">
    <nav class="navbar navbar-expand-lg navbar-light col-lg-12">
      <div class="container">
        <p class="col-lg-10 footer__text">&copy; Corleone S.P.A 2019</p>

        <ul class="navbar-nav">
          <router-link :to="{name: 'adminLink'}" tag="li">
            <a class="nav-link footer__link--login">ADMIN</a>
          </router-link>
         
        </ul>
      </div>
    </nav>
  </footer>
</template>

<style>
.footer__link--login {
  font-size: 1rem;
}

.footer {
  padding: 10px 0;
  width: 100vw;
  min-height: 5rem;
}

.footer__text {
  padding: 1rem 0;
}
</style>