<template>
  <header class="row">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light header__navbar">
        <div class="logo__area">
          <a href="/" class="navbar-brand logo">
            <font-awesome-icon :icon="['fas', 'pizza-slice']" /> PIZZERIA CORLEONE
          </a>
          <p class="slogan">"We make offers you can't refuse"</p>
        </div>
        <ul class="navbar-nav menu__bar">
          <router-link :to="{name: 'homeLink'}" tag="li">
            <a class="nav-link menu__item">home</a>
          </router-link>
          <router-link :to="{name: 'menuLink'}" tag="li">
            <a class="nav-link menu__item">menu</a>
          </router-link>
          <router-link :to="{name: 'aboutLink'}" tag="li">
            <a class="nav-link menu__item">about</a>
          </router-link>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script></script>

<style>
header {
  margin-bottom: 0;
  padding: 40px 0;
}
.menu__bar {
  width: 10%;
  /* flex-direction: ; */
}

.slogan {
  text-align: right;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  flex-grow: 2;
}

.navbar-brand {
  font-size: 3em;
  /* margin: 0 10%; */
}
</style>