<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">History</h5>
      <p class="card-text">
         
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper commodo metus, ac ultricies quam fermentum et. Proin laoreet felis id cursus iaculis. Suspendisse iaculis lorem sem, id dignissim enim vestibulum sit amet. Nullam tincidunt neque ex, ut mollis tortor consequat in. Nam tincidunt lacus sit amet neque auctor, id condimentum risus feugiat.  
         </p>

      </p>
    </div>
  </div>
</template>