<template>
  <div class="row">
    <div class="col-sm-12 text-center home">
      <div class="background">
        <div class="content__box">
          <h1 class="heading--menu">Today's Offer</h1>
          <h4 class="subheading menu-items">"Luca Brasi sleeps with the Fishes - Sicilian Style"</h4>
          <h4 class="subheading menu-items">"Cold Orange - Best Served"</h4>
          <div class="u-margin-bottom"></div>
          <h4 class="subheading menu-items">"Sollozzo's Veal - Best in Sicily"</h4>
          <h4 class="subheading menu-items">"McCluskey's Red Wine - Served Very Cold"</h4>
          <p></p>
        </div>
        <div class="cta">
          <button class="btn btn-success btn-lg" @click="goToMenu()">See Our Menu</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goToMenu() {
      this.$router.replace({ name: "menuLink" });
    }
  }
};
</script>

<style lang="scss">
.home {
  background-image: url("../assets/pizza-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  object-fit: cover;
  padding: 10%;
}

.u-margin-bottom{
  margin-bottom: 4rem;
}

.heading {
  font-size: 3rem;

  &--menu{
    margin-bottom: 3rem;
  }
}

.sub-heading {
  font-size: 2rem;
}

.menu-items{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.cta{
  opacity: 1;
  margin-top: 5%;
}

.background {
  background: #eee;
  opacity: 0.8;
  min-width: 40%;
  margin: 0 auto;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
}
</style>