<template>
  <div class="row">
    <div>
      <div>
        <p v-if="!currentUser">Please Login to Continue</p>
        <p v-else>
          Logged in as: {{currentUser}} <button type="button" class="btn btn-danger" @click.prevent="signOut()">Sign Out</button>
        </p>
      </div>
      <form v-if="!currentUser">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Enter Password"
          />
        </div>
        <button type="button" class="btn btn-primary" @click.prevent="signIn()">Sign In</button>
     
      </form>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import { store } from "../store/store.js";

firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    store.dispatch("setUser", user);
  } else {
    store.dispatch("setUser", null);
  }
});

export default {
  methods: {
    signIn() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      firebase
        .auth()
        .signInWithEmailAndPassword(email, password)
        .catch(function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;

          if (errorCode === "auth/wrong-password") {
            alert("Wrong Password");
          } else {
            alert(errorMessage);
          }
        });
    },
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          alert("Logged Out");
        })
        .catch(function(error) {
          alert("Error!");
        });
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  }
};
</script>

<style>
  form{
    margin: 20px auto;
  }
</style>