<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">How to Order</h5>
      <p class="card-text">
         
         <p>
           Excepteur mollit in capicola jowl, qui spare ribs. Jerky occaecat rump alcatra commodo culpa reprehenderit. Voluptate corned beef andouille.
         </p>

      </p>
    </div>
  </div>
</template>