<template>
  <div id="app">
    <div class="container-fluid">
      <pp-header></pp-header>
    </div>
    <div class="container-fluid page">
      <router-view></router-view>
    </div>

    <!-- <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <router-view name="ordering-guide"></router-view>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <router-view name="delivery"></router-view>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <router-view name="history"></router-view>
        </div>
      </div>
    </div> -->

    <div class="container-fluid">

        <pp-footer></pp-footer>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import { dbMenuRef } from "./firebaseConfig";
import { dbOrdersRef } from "./firebaseConfig";

export default {
  components: {
    ppHeader: Header,
    ppFooter: Footer
  },
  created() {
    this.$store.dispatch("setMenuRef", dbMenuRef),
      this.$store.dispatch("setOrdersRef", dbOrdersRef);
  }
};
</script>

<style lang="scss">
header,
footer {
  background: #ff6854;
  font-size: 1.2em;
}

.card {
  width: 70vw;
  height: 40vh;
  background: #f5f5f5;
  margin: 20px auto;
  border-radius: 0;
  border: 0;
}

.page {
  min-height: 100vh;
  width: 100vw;

  &--margin{
    margin: 5rem 3rem 5rem;
  }
}
</style>
